@model MovieMark.Models.TemporadaViewModels.TemporadaDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <div class="py-2 bd-highlight">
                    <h2>@Model.Temporada.Nome</h2>
                </div>
                <div class="py-2 bd-highlight">
                    <button type="button" class="btn btn-primary" onclick="AddEpisodio(@Model.Temporada.Id)">Adicionar Episodio</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @for (int i = 0; i < Model.Temporada.ListaEpisodio.Count; i++)
            {
                <div class="d-flex justify-content-between">
                    <div class="py-2 bd-highlight">
                        <p>@($"Episódio {i + 1}: {Model.Temporada.ListaEpisodio[i].Nome}")</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    <script>
        function AddEpisodio(id) {
            window.location.href = "@Url.Action("Create", "Episodio")/" + id;
        }
    </script>
}