@model MovieMark.Models.SeriesViewModels.SeriesCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-route="create" method="post" id="form-create">
    <div class="form-group">
        <label asp-for="Nome">Nome da Série</label>
        <input asp-for="Nome" type="text" class="form-control" id="">
    </div>
    <button type="submit" class="btn btn-primary">Adicionar</button>
</form>

