
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://www.4devs.com.br/4devs_gerador_imagem.php?acao=gerar_imagem&txt_largura=288&txt_altura=188&extensao=png&fundo_r=0.8756103515625&fundo_g=0.8756103515625&fundo_b=0.8756103515625&texto_r=0&texto_g=0&texto_b=0&texto=Imagem&tamanho_fonte=10" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Título da Série</h5>
                    <p class="card-text">S01 | E01</p>
                    <a href="@Url.Action("Details", "Series")" class="btn btn-primary">Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://www.4devs.com.br/4devs_gerador_imagem.php?acao=gerar_imagem&txt_largura=288&txt_altura=188&extensao=png&fundo_r=0.8756103515625&fundo_g=0.8756103515625&fundo_b=0.8756103515625&texto_r=0&texto_g=0&texto_b=0&texto=Imagem&tamanho_fonte=10" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Título da Série</h5>
                    <p class="card-text">S01 | E01</p>
                    <a href="@Url.Action("Details", "Series")" class="btn btn-primary">Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://www.4devs.com.br/4devs_gerador_imagem.php?acao=gerar_imagem&txt_largura=288&txt_altura=188&extensao=png&fundo_r=0.8756103515625&fundo_g=0.8756103515625&fundo_b=0.8756103515625&texto_r=0&texto_g=0&texto_b=0&texto=Imagem&tamanho_fonte=10" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Título da Série</h5>
                    <p class="card-text">S01 | E01</p>
                    <a href="@Url.Action("Details", "Series")" class="btn btn-primary">Detalhes</a>
                </div>
            </div>
        </div>
    </div>
</div>

